@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins&family=Quicksand:wght@300;600&display=swap');
body {
    font-family: 'Mochiy Pop One','Poppins', sans-serif;
    margin: 0;
    padding: 0;
    
}

* {
    box-sizing: border-box;
}
header {
    margin: 0;
    padding: 0;
}

header nav {
    background-color: white;
}

header ul li {
    text-decoration: none;
    list-style-type: none;
    display: inline;
    font-size: 10px;
    margin-right: 5px;
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    color: hsl(197, 100%, 58%);
}

article {
    padding: 10px 30px;
}

.content1 #latar1 {
    background-color: hsl(197, 100%, 58%);
    border-radius: 0 0 90px 0;
}

.content1, h2 p {
    color: white;
    
}

.content1 span {
    font-size: 10px;
}

#content2 h3 {
    color: black;
    text-align: center;
}

.kotak1 {
    display: flex;
    justify-content: center;
}

#content2 .laki {
    color: black;
    border: 1px solid rgb(0,0,0,0.3);
    border-radius: 20px;
    box-shadow: 3px 8px 3px rgb(0, 0, 0, 0.2);
    padding: 20px;
    width: 200px;
    height: 150px;
    text-align-last: center;
    margin-bottom: 10px;
    margin-right: 15px;
}

#content2 .wanita {
    color: black;
    border: 1px solid rgb(0,0,0,0.3);
    border-radius: 20px;
    box-shadow: 3px 8px 3px rgb(0, 0, 0, 0.2);
    padding: 20px;
    width: 200px;
    height: 150px;
    text-align-last: center;
    margin-bottom: 20px;

}

#content2 a {
    text-decoration: none;
    color: hsl(197, 100%, 58%);
}

#content2 a:hover {
    color: black;
}

#content2 .laki:hover, #content2 .wanita:hover {
    box-shadow: none;
}

#content3 {
    color: black;
}

article a {
    text-decoration: none;
    color: white;

}

button a:hover {
    color: white;
}
  
@media (max-width: 915px) {
    article {
        width: 100%;
        margin: 0;
    }
    .kotak1 {
        display: inline-block;
        padding: 5px 20%;
       
    }
    #content2 .laki {
        color: black;
        border: 1px solid rgb(0,0,0,0.3);
        border-radius: 20px;
        box-shadow: 3px 8px 3px rgb(0, 0, 0, 0.2);
        padding: 20px;
        max-width: 300px;
        height: 150px;
        margin-bottom: 30px;
    }
    
    #content2 .wanita {
        color: black;
        border: 1px solid rgb(0,0,0,0.3);
        border-radius: 20px;
        box-shadow: 3px 8px 3px rgb(0, 0, 0, 0.2);
        padding: 20px;
        max-width: 300px;
        height: 150px;
        text-align-last: center;
        margin-bottom: 20px;
    
    }
}

